<aside class="al-sidebar" sidebarResize>
  <h6 *ngIf="nombreFirma">{{nombreFirma}}</h6>
  <ba-menu [menuHeight]="menuHeight"
           [sidebarCollapsed]="isMenuCollapsed"
           (expandMenu)="menuExpand()"></ba-menu>
</aside>
