<!-- Page info section -->
<section class="page-info-section">
    <div class="container">
        <h2>Precios</h2>
        <div class="site-beradcamb">
            <a routerLink="/inicio">Inicio</a>
            <span>
                <i class="fa fa-angle-right"></i> Precios </span>
        </div>
    </div>
</section>
<!-- Page info end -->


<! ========================  
    Syed Sahar Ali Raza   	 
  ========================	!>
<div id="generic_price_table">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <h1>Planes para contar con Vigile</h1>
                        <h3>
                            En vigile nos acomodamos a la cantidad justa que cada firma, abogado o abogada necesita...
                            <br> Vigile también permite que aquellos que siguen pocos procesos puedan abrir una cuenta de tarifa
                            compartida.

                        </h3>
                        <br>
                        <br>
                        <button class="btn btn-primary btn-lg" type="button">Formas de pago en Vigile</button>
                        <br>
                        <br>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">

            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let t of tarifas; let last = last " [ngClass]="{'center-last': last
            }">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>{{t.titulo}}</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">{{ (t.procesos * t.precioProceso) | currency:'COP':true}}</span>
                                    <!-- <span class="cent">.99</span> -->
                                    <br>
                                    <span class="month"> {{t.precio == '0' ? ' quince días' : '/ mes'}}</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li>
                                    <span>{{t.procesos}}</span> Procesos</li>
                                <li>
                                    <span>{{t.usuarios}}</span> Usuarios</li>
                                <li *ngIf="t.precio != '0'">
                                    <span>Notificaciones </span> Ilimitadas</li>
                                <li *ngIf="t.precio != '0'">
                                    <span>Carga masiva</span> de procesos</li>

                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a>¡Adquirir hoy!</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

            </div>
            <!--//BLOCK ROW END-->
            <div class="row">
                <h3>Más planes disponibles bajo requerimiento. Por favor, contáctenos para conocer más información</h3>
                <p>*Los precios anteriores no incluyen impuestos </p>
            </div>
        </div>
        <hr>
        <div class="container">

            <!--BLOCK ROW START-->
            <div class="row">
                <ba-card class="col-md-7" title="Formas de pago">

                    <div class="gaadiex-list">
                        <div class="gaadiex-list-item border-b-1">
                            <i class="fa fa-dollar"></i>
                            <div class="gaadiex-list-item-text">
                                <h3>
                                    <a routerLink="/inicio/planes">Consignación bancaria</a>
                                </h3>
                                <h4>La vieja confiable</h4>
                                <p> Los datos de la cuenta serán provistos a través de canales seguros con los clientes</p>
                            </div>
                        </div>
                        <div class="gaadiex-list-item border-b-1">
                            <i class="fa fa-credit-card"></i>
                            <div class="gaadiex-list-item-text">
                                <h3>
                                    <a routerLink="/inicio/planes">Pago con tarjeta de crédito</a>
                                </h3>
                                <h4>Próximamente</h4>
                                <p> Contaremos con un servicio de pago en linea para que sea aún más fácil renovar su suscripción</p>
                            </div>
                        </div>
                        <div class="gaadiex-list-item border-b-1">
                            <i class="fa fa-pause"></i>
                            <div class="gaadiex-list-item-text">
                                <h3>
                                    <a routerLink="/inicio/planes">Otros medios de pago</a>
                                </h3>
                                <h4>Baloto, Efecty, etc.</h4>
                                <p> Próximamente serán incluidos en la aplicación</p>
                            </div>
                        </div>
                    </div>

                </ba-card>
            </div>
        </div>
        <hr>

    </section>
    <!-- 
        <footer>
            <a class="bottom_btn" href="#">&copy; MrSahar</a>
        </footer> -->
</div>