<div class="auth-main">
    <div *ngIf="!solicitudEnviada" class="xs-12 col-sm-8 col-md-6 r-form-1-box wow fadeInLeft animated auth-block" style="visibility: visible; animation-name: fadeInLeft;">
        <h1>Recuérdenme mi clave</h1>
        <p>Le enviaremos un email con información para que cambie la contraseña de su cuenta</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <div class="col-sm-12">
                    <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Correo electrónico">
                </div>
            </div>
            <div class="form-group row captcha">
                <div class="col-sm-12">
                    <re-captcha formControlName="recaptcha" (resolved)="resolved($event)"></re-captcha>
                </div>
            </div>

            <div class="form-group row text-right">
                <div class="offset-sm-2 col-sm-10">
                    <button style="color: black !important" class="btn btn-default btn-auth" routerLink="/login">Volver</button>
                    <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-auth">Enviar</button>
                </div>
            </div>
            <hr>
        </form>
    </div>

    <div *ngIf="solicitudEnviada" class="xs-12 col-sm-8 col-md-6 r-form-1-box wow fadeInLeft animated auth-block" style="visibility: visible; animation-name: fadeInLeft;">
        <h1 class="text-center">
            <i class="fa fa-envelope"></i> Listo, ya está
        </h1>
        <p>
            Le hemos enviado un correo a {{email.value}} con instrucciones para recuperar la contraseña.
            <br> Si el mensaje no aparece pronto, revise en su bandeja de correo no deseado
            <br>
        </p>
        <div class="form-group row text-right">
            <div class="offset-sm-2 col-sm-10">
                <button class="btn btn-primary btn-auth" routerLink="/login">Volver a Login</button>
            </div>
        </div>
        <hr>
    </div>
</div>