<ba-card title="Construir el código">

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Despacho</label>
                <input type="tex" class="form-control" placeholder="xxx" maxlength="3" (keyup)="keyDespacho($event.target.value)" *ngIf="editDespacho">
                <span *ngIf="!editDespacho" style="font-weight: bold">
                    <br>{{despacho}}</span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Año</label>
                <select class="form-control" id="exampleSelect1" [(ngModel)]="year" (ngModelChange)="yearChange($event)">
                    <option selected="selected" disabled>...</option>
                    <option *ngFor="let year of yearList" [ngValue]="year">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Número Radicación </label>
                <input type="tex" class="form-control" placeholder="xxxxx" maxlength="5" (keyup)="keyRadicacion($event.target.value)">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Número Consecutivo</label>
                <input type="tex" class="form-control" placeholder="xx" maxlength="2" (keyup)="keyConsecutivo($event.target.value)">
            </div>
        </div>
    </div>
    <div>
        <h4>
            {{codCiudad + entidad + "_" + despacho + "_" + year + "_" + radicacion + "_" + consecutivo}}
        </h4>
    </div>
    <div class="row">
        <div class="form-line">
            <div class="btn-group-example">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" [disabled]="codProceso.length < 21 || codProceso.length >23" (click)="btnAgregar()">
                        <i class="fa fa-check"></i>
                        Listo
                    </button>
                    <button type="button" class="btn btn-default" (click)="btnCancelar()">
                        <i class="fa fa-remove"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</ba-card>