<ba-card *ngIf="cifrasPorc.mostrar">

    <div class="container">
        <h2>Disponiblidad</h2>
        <p>La cantidad de procesos que su cuenta puede manejar se encuentra a continuación. Haga clic acá para conocer más acerca
            de los planes que puede adquirir para mayor capacidad.
        </p>
        <div class="progress">
            <div *ngIf="stats.disponible" class="progress-bar progress-bar-active" role="progressbar" [ngStyle]="{'width': cifrasPorc.disponible}">
                {{stats.disponible}} disponibles
            </div>
            <div *ngIf="stats.activos" class="progress-bar progress-bar-striped progress-bar-primary" role="progressbar" [ngStyle]="{'width': cifrasPorc.activos}">
                {{stats.activos}} activos
            </div>
            <div *ngIf="stats.error" class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar" [ngStyle]="{'width': cifrasPorc.error}">
                {{stats.error}} con error
            </div>
        </div>
    </div>

</ba-card>
<ba-card title="Nuevos Procesos" baCardClass="with-scroll">
    <!-- PROCESO -->
    <label for="exampleSelect1">Añada varios procesos en esta ventana. También puede construir el número con los datos del despacho, año, número de radicación
        y el número consecutivo.</label>
    <div class="row">
        <div class="col-12 col-md-4">
            <br>
            <label for="exampleSelect1">Ciudad</label>
            <input class="form-control" auto-complete [value-formatter]="valueFormatter()" no-match-found-text="No hay resultados" (valueChanged)="cityChange($event)"
                [list-formatter]="listFormatter()" [(ngModel)]="selCiudad" [source]="ciudadesList" />
        </div>
        <div class="col-12 col-md-4">
            <br>
            <label for="exampleSelect1">Entidad / Especialidad</label>
            <input class="form-control" auto-complete [value-formatter]="valueFormatter()" no-match-found-text="No hay resultados" (valueChanged)="entityChange($event)"
                [list-formatter]="listFormatter()" [(ngModel)]="selEntidad" [source]="entidadesList" [disabled]="entidadesList.length == 0"
            />

        </div>
        <div class="col-4 col-md-4 form-line">
            <br>
            <br>
            <div class="button-wrapper">
                <button type="button" class="btn btn-default" [disabled]="!selEntidad" (click)="construirNumero()">
                    <i class="fa fa-pencil-square-o"></i>
                    {{building ? 'Construyendo...' : 'Construir el código' }}
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-4 col-md-6">
            <div class="task-todo-container">
                <div style="display: inline-flex; width: 100%;" *ngIf="!building">
                    <input id="txtCodProcess" type="text" value="" class="form-control task-todo" maxlength="23" placeholder="Código de proceso"
                        (keyup)="addToDoItem($event)" [(ngModel)]="nCodProcess" [disabled]="!selCiudad || !selEntidad" />
                    <span>
                        <button type="button" class="btn btn-sm btn-default" [disabled]="nCodProcess.length != 23" (click)="addToDoItem($event)">
                            <i class="ion-plus-round"></i> Agregar
                        </button>
                    </span>

                    <!-- <i (click)="construirNumero()" class="add-item-icon fa fa-pencil-square-o" *ngIf="selEntidad" title="Construir número"></i> -->
                </div>
                <div class="box-shadow-border"></div>

                <ul class="todo-list" [ngClass]="{'building':building}">
                    <li *ngFor="let item of data">
                        <p class="todo-checkbox custom-checkbox custom-input-success">
                            <span class="cut-with-dots itCodigo">{{ item.data.codProceso }}</span>
                            <span class="cut-with-dots itCiudad">{{ item.data.ciudad }}</span>
                            <span class="cut-with-dots itEntidad">{{ item.data.entidad }}</span>
                        </p>
                        <i class="remove-todo ion-ios-close-empty" (click)="sacarProceso(item)"></i>
                        <!-- <div class="loader text-right" style="color: #1c2b36;">
                            Validando proceso
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <span class="sr-only"></span>
                        </div> -->
                    </li>
                    <li *ngIf="data.length === 0">
                        <p class="todo-checkbox custom-checkbox custom-input-success">
                            <span class="cut-with-dots itCiudad">
                                <strong>
                                    <i class="fa fa-ban"></i>
                                    No ha ingresado ningún proceso</strong>
                                Llene los campos de formulario</span>
                            <span class="cut-with-dots itEntidad">Recuerde que los códigos de proceso tienen una longitud de 23 dígitos</span>
                        </p>
                    </li>
                    <li class="text-right" *ngIf="accountDataReady">
                        <button *ngIf="datosCuenta.active && data.length > 0" type="button" class="btn btn-primary" [disabled]="!entradasSonValidas || bloqueado"
                            (click)="btnAgregar()">
                            <i class="fa fa-check"></i>
                            Guardar {{data.length}} proceso{{data.length == 1? '': 's'}}
                        </button>
                        <button *ngIf="!datosCuenta.active" type="button" class="btn btn-default">
                            <i class="fa fa-remove"></i>
                            Guardado no disponible
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-offset-4 col-md-6" *ngIf="selEntidad && building">
            <construir-codigo [codCiudad]="selCiudad.value" [data]="selEntidad" (done)="codigoArmado($event)"> </construir-codigo>
        </div>
    </div>
    <!-- END PROCESO -->
</ba-card>