<header id="v-header" class="header-section clearfix " [ngClass]="{'sticky': fixTop}">
	<div class="container-fluid">
		<a routerLink="/inicio" class="site-logo">
			<img src="/assets/publico/img/logo.png" alt="" style="height: 31px;">
		</a>
		<div class="responsive-bar">
			<i class="fa fa-bars"></i>
		</div>
		<a routerLink="/login" class="user">
			<i class="fa fa-user"></i>
		</a>
		<a routerLink="/login" class="site-btn">¡Iniciar sesión!</a>
		<nav class="main-menu">
			<ul class="menu-list">
				<!-- <li>
					<a href="">Sobre nosotros</a>
				</li>
				<li>
					<a href="">Features</a>
				</li> -->
				<li>
					<a routerLink="/inicio">Inicio</a>
				</li>
				<li>
					<a routerLink="/inicio/planes">Precios</a>
				</li>
				<li>
					<a routerLink="/inicio/contacto">Contacto</a>
				</li>
				<!-- <li>
					<a routerLink="/inicio/registro/formulario">Regístrese</a>
				</li> -->
			</ul>
		</nav>
	</div>
</header>
<!-- Header section end -->


<router-outlet></router-outlet>



<!-- Footer section -->
<footer class="footer-section">
	<div class="container">
		<div class="row spad">
			<div class="col-md-6 col-lg-3 footer-widget">
				<img src="/assets/publico/img/logo.png" class="mb-4" alt="">
				<p>Consulta de procesos de la Página de la Rama Judicial.</p>
				<span>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
					<i class="fa fa-heart-o" aria-hidden="true"></i> by
					<a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
			</div>
			<!-- <div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
				<h5 class="widget-title">Resources</h5>
				<ul>
					<li>
						<a href="#">How to Buy Coin</a>
					</li>
					<li>
						<a href="#">Coin Overview</a>
					</li>
					<li>
						<a href="#">Blog News</a>
					</li>
					<li>
						<a href="#">How to Sell Coin</a>
					</li>
					<li>
						<a href="#">Purchase Theme</a>
					</li>
				</ul>
			</div> -->
			<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
				<h5 class="widget-title">Enlaces</h5>
				<ul>
					<li>
						<a href="#">Iniciar sesión</a>
					</li>
					<li>
						<a href="#">Registro</a>
					</li>
					<li>
						<a href="#">Tarifas</a>
					</li>
					<li>
						<a href='http://procesos.ramajudicial.gov.co/consultaprocesos/'>Página de la Rama Judicial</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
				<h5 class="widget-title">Nuestras redes</h5>
				<div class="social">
					<a href="https://www.facebook.com/vigileprocesos/" class="facebook">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="" class="google">
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="" class="instagram">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="" class="twitter">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- <div class="footer-bottom">
			<div class="row">
				<div class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0">
					<a href="">
						<img src="/assets/publico/img/appstore.png" alt="" class="mr-2">
					</a>
					<a href="">
						<img src="/assets/publico/img/playstore.png" alt="">
					</a>
				</div>
				<div class="col-lg-8 text-center text-lg-right">
					<ul class="footer-nav">
						<li>
							<a href="">DPA</a>
						</li>
						<li>
							<a href="">Terms of Use</a>
						</li>
						<li>
							<a href="">Privacy Policy </a>
						</li>
						<li>
							<a href="">support@company.com</a>
						</li>
						<li>
							<a href="">(123) 456-7890</a>
						</li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>
</footer>
<ba-back-top position="200"></ba-back-top>