<div class="row">

    <div class="tablero col-12 col-sm-12 col-md-3 col-lg-2" *ngFor="let tablero of tableros">
        <a [routerLink]="['/pages/pizarra/tablero', tablero.objectId]">{{tablero.nombre}}</a>
    </div>

</div>