<div class="select-firma" *ngIf="firmas.length > 0">
    <div class="dropdown">
        <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
          {{selected.company.nombre}}
        </a>
        <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
            <li class="dropdown-item" *ngFor="let f of firmas" (click)="selectFirma(f)">
                {{f.company.nombre}}
            </li>
        </ul>
    </div>
</div>