<div class="auth-main">
  <div class="xs-12 col-sm-8 col-md-6 r-form-1-box wow fadeInLeft animated auth-block" style="visibility: visible; animation-name: fadeInLeft;">
    <a  routerLink="/inicio" >
      <img class="text-center profile-img-card " src="/assets/img/vigile-aqua.png" />
    </a>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <div class="col-sm-12">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Correo electrónico">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <div class="col-sm-12">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
        </div>
      </div>
      <div class="form-group row text-right">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-auth" translate>Acceder</button>
        </div>
      </div>
      <hr>
      <div>
        <a routerLink="/recuperar-clave" class="forgot-pass" >¿Olvidó su contraseña?</a>
        <a routerLink="/registro" class="auth-link" >¿No tiene una cuenta? Regístrese acá</a>
      </div>
    </form>
    <div class="auth-sep"><span><span translate>{{'login.sign_from_app_text'}}</span></span>
    </div>

    <!--
    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="{{'login.share_on_facebook' | translate}}"></i></li>
        <li><i class="socicon socicon-twitter" title="{{'login.share_on_twitter' | translate}}"></i></li>
        <li><a href="/api/auth/google"><i class="socicon socicon-google" title="{{'login.share_on_google_plus' | translate}}"></i></a></li>
      </ul>
    </div>
    -->
  </div>
</div>