<div class="feedback-panel">
  <div id="slide-panel" class="slide-panel row">

    <label for="checker" class="slide-panel-tab" (click)="toggleView()" *ngIf="!isShowing">
      Decir algo
      <i class="fa fa-commenting"></i>
    </label>
    <div [ngClass]="{'col-10 col-sm-5 col-md-5 slide-panel-content': true, 'showfb': isShowing}">
      <div class="alert alert-success alert-dismissable" *ngIf="sent">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Gracias!</strong> Valoramos cada sugerencia que nos hacen llegar.
      </div>
      <form [formGroup]="form" class="form-horizontal">
        <div class="form-group">
          <h4 style="color: #fff">¿Cómo podemos mejorar?</h4>
          <div class="form-group">
            <select class="form-control" id="exampleSelect1" [formControl]="type">
                  <option selected="selected" value="" >¿De qué se trata?</option>
                  <option *ngFor="let type of types" [value]="type.name">{{type.value}}</option>
                </select>
          </div>
          <div class="form-group">
            <textarea [formControl]="message" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group row text-right">
            <div class="offset-sm-2 col-sm-10">
              <button type="button" class="btn btn-default btn-auth" (click)="toggleView()">Cancelar</button>
              <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-auth" (click)="postMessage()">Enviar</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>