@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';
@import '../../sass/auth';
:host /deep/ {

  .feedback-panel {
    .slide-panel {
    position: relative;
}
.slide-panel-content {
    display: none;
    background: rgba(28, 43, 54, 0.71);
    position: fixed;
    right: -50000px;
    border: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.5s ease;
    z-index: 400;
    top: 30%;
}
.slide-panel-tab {
    background: #1c2b36;
    color: white;
    padding: 9px;
    display: block;
    position: fixed;
    top: 44%;
    right: -31px;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    border: none;
    z-index: 400;
    cursor: pointer;
}

.showfb{
    right: 0px !important;
    display: block;
}

  }

}
