<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/" class="al-logo clearfix">Vigile <span><i class="fa fa-gavel"></i> </span></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user-circle fa-3x" style="color: #c9cdd1;"></i>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"(click)="verPerfil()"><i class="fa fa-user"></i>Ver Perfil</li>
        <li class="dropdown-item"><i class="fa fa-cog"></i>Ajustes</li>
        <li class="dropdown-item" (click)="cerrarSesion()"><i class="fa fa-power-off"></i>Cerrar sesión</li>
      </ul>
    </div>
    <div class="info-section">
      <h6> Trabajando en:</h6>
      <span [ngClass]="{'nombre-firma': true, 'inactiva': !cuentaActiva}" (click)="verFirmas()">{{nombreFirma}}</span>
    </div>
    <!-- 
      <ba-msg-center></ba-msg-center>
        -->
  </div>
</div>