<!-- Hero section -->
<section class="hero-section fadeInLeft animated ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hero-text">
                <h2>Deje que
                    <span>Vigile</span>
                    <br> le notifique</h2>
                <h4>Un sistema hecho para gestionar los procesos que siga en la Página de la Rama Judicial.</h4>
                <p>
                    Ahorre tiempo y no se pierda ninguna actuación nueva
                    <br> ¡Trabaje en conjunto con socios y dependientes!
                </p>
                <div class="hero-subscribe-from">
                    <input type="text" placeholder="Ingrese su correo" [(ngModel)]="email" maxlength="100">
                    <button (click)="irARegistro()" class="btn site-btn sb-gradients">Empezar gratis</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/assets/publico/img/laptop.png" class="laptop-image" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->


<!-- About section -->
<!-- <section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 about-text">
                <h2>Vigile es...</h2>
                <h4>Un sistema hecho para gestionar los procesos que siga en la Página de la Rama Judicial.</h4>
                <p>Vigile le notificará cuando nuevas actuaciones sean registradas.</p>
                <p>Podrá ahorrar tiempo en las consultas que realiza manualmente. </p>
                <p>Además, el sistema le permitirá trabajar en conjunto con sus socios o dependientes ¡Sólo es necesario que
                    acepten su invitación! </p>
                <p>Puede comenzar con una prueba gratuita y luego adquirir una suscripción permanente</p>
                <a routerLink="/registro/formulario" class="site-btn sb-gradients mt-5">Empezar</a>
            </div>
        </div>
        <div class="about-img">
            <img src="/assets/publico/img/about-img.png" alt="">
        </div>
    </div>
</section> -->
<!-- About section end -->


<!-- Features section -->
<section class="features-section spad gradient-bg">
    <div class="container text-white">
        <div class="section-title text-center">
            <h2>Nuestros Servicios</h2>
            <p>Por una suscripción mensual usted puede tener grandes beneficios</p>
        </div>
        <div class="row">
            <!-- feature -->
            <div class="col-md-6 col-lg-4 feature">
                <i class="fa fa-mobile"></i>
                <div class="feature-content">
                    <h4>La primera persona en saber</h4>
                    <p>Reciba alertas por correo electrónico sobre las actuaciones que presenten sus procesos. </p>
                    <!-- <a href="" class="readmore">Readmore</a> -->
                </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-4 feature">
                <i class="fa fa-check"></i>
                <div class="feature-content">
                    <h4>Fácil y confiable</h4>
                    <p>La información que vea sobre los procesos es fiel representación de los datos que se encuentran en la
                        Página de la Rama.
                    </p>
                </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-4 feature">
                <i class="fa fa-envelope"></i>
                <div class="feature-content">
                    <h4>Suscripciones</h4>
                    <p>Apúntese a las notificaciones de procesos de otras firmas donde forme parte. </p>
                </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-4 feature">
                <i class="fa fa-users"></i>
                <div class="feature-content">
                    <h4>Gestione usuarios </h4>
                    <p>En Vigile podrá agregar a sus socios o dependientes para que también puedan interactuar con los procesos
                        . </p>
                </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-4 feature">
                <i class="fa fa-dollar"></i>
                <div class="feature-content">
                    <h4>Reduce gastos</h4>
                    <p>No sólo ahorrará tiempo sino también dinero al contar con una suscripción permanente en el sistema. </p>
                </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-4 feature">
                <i class="fa fa-thumbs-up"></i>
                <div class="feature-content">
                    <h4>Los cambios son buenos</h4>
                    <p>Con Vigile va a dejar atrás la extenuante rutina de revisión manual de los procesos. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->


<!-- Process section -->
<section class="process-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h2>Empiece a utilizar Vigile</h2>
            <p>Aprenda a utilizar la herramienta y verá que gestionar los procesos nunca fue más fácil. </p>
        </div>
        <div class="row">
            <div class="col-md-4 process">
                <div class="process-step">
                    <figure class="process-icon">
                        <i class="fa fa-bookmark"></i>
                    </figure>
                    <h4>Regístrese en la aplicación</h4>
                    <p>Sólo necesita de una dirección de correo electrónico. </p>
                </div>
            </div>
            <div class="col-md-4 process">
                <div class="process-step">
                    <figure class="process-icon">
                        <i class="fa fa-address-card"></i>
                    </figure>
                    <h4>Adquiera un plan</h4>
                    <p>Puede comenzar con una versión gratuita de 15 días para convencerse de que puede dejar sus procesos en
                        manos de Vigile.
                    </p>
                </div>
            </div>
            <div class="col-md-4 process">
                <div class="process-step">
                    <figure class="process-icon">
                        <i class="fa fa-clone"></i>
                    </figure>
                    <h4>Comience a gestionar sus procesos </h4>
                    <p>No se pierda de niguna actuación; ningún Auto. Vigile lo matendrá informado. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process section end -->


<!-- Fact section -->
<section class="fact-section gradient-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                    <h2>{{procesosActivos}}</h2>
                    <p>Procesos
                        <br> Activos</p>
                    <i class="fa fa-file"></i>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                    <h2>{{firmasActivas}}</h2>
                    <p>Firmas
                        <br> registradas</p>
                    <i class="fa fa-bookmark"></i>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                    <h2>{{notificaciones}}</h2>
                    <p>Actuaciones
                        <br> Notificadas</p>
                    <i class="fa fa-bullhorn"></i>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                    <h2>{{experiencia}}</h2>
                    <p>Años
                        <br> de experiencia</p>
                    <i class="fa fa-angellist"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fact section end -->

<!-- Process section -->
<div id="generic_price_table">
    <section class="process-section spad">
        <div class="container">
            <div class="section-title text-center">
                <h2>Conozca nuestros planes</h2>
                <p>Contamos con tarifas y opciones que se ajustan fácilmente a las necesidades y el presupuesto de los clientes</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let t of tarifas">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix" [ngClass]="{'active' : t.active}">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>{{t.titulo}}</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">{{ (t.procesos * t.precioProceso) | currency:'COP':true}}</span>
                                    <!-- <span class="cent">.99</span> -->
                                    <br>
                                    <span class="month"> {{t.precio == '0' ? ' quince días' : '/ mes'}}</span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li>
                                    <span>{{t.procesos}}</span> Procesos</li>
                                <li>
                                    <span>{{t.usuarios}}</span> Usuarios</li>
                                <li *ngIf="t.precio != '0'">
                                    <span>Notificaciones </span> Ilimitadas</li>
                                <li *ngIf="t.precio != '0'">
                                    <span>Carga masiva</span> de procesos</li>

                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a routerLink="/inicio/planes">¡Adquirir hoy!</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">

                    <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">

                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">

                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">

                                <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Otros planes</span>
                                </div>
                                <!--//HEAD END-->

                            </div>
                            <!--//HEAD CONTENT END-->

                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency">Únase hoy </span>
                                </span>
                            </div>
                            <!--//PRICE END-->

                        </div>
                        <!--//HEAD PRICE DETAIL END-->

                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul>
                                <li>
                                    <span>Más procesos</span></li>
                                <li>
                                    <span>Más usuarios</span></li>
                                <li>
                                    <span>Notificaciones </span> Ilimitadas</li>
                                <li>
                                    <span>Carga masiva</span> de procesos</li>
                                <li>
                                    <span>Otros beneficios</span> por estar con nosotros</li>

                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                            <a routerLink="/inicio/planes">¡Saber más!</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>
                    <!--//PRICE CONTENT END-->

                </div>

            </div>
        </div>
    </section>
</div>
<!-- Process section end -->

<!-- Newsletter section -->
<section class="newsletter-section gradient-bg">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-10 newsletter-text">
                <h2>Nos encontramos en un periodo de pre-lanzamiento </h2>
                <p>Si encuentra alguna sugerencia o duda sobre la aplicación, a un costado encontrará un panel de comentarios
                    y sugerencias.</p>
            </div>
            <!-- <div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
				<form class="newsletter-form">
					<input type="text" placeholder="Enter your email">
					<button>Get Started</button>
				</form>
			</div> -->
        </div>
    </div>
</section>
<!-- Newsletter section end -->

<!-- Review section -->
<section class="review-section spad last">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-8">
                <img src="/assets/publico/img/quote.png" alt="" class="quote mb-5">
                <div class="review-text-slider owl-carousel">
                    <div class="review-text">
                        <h2>"Vigile va a ayudarnos a aprovechar mucho más el tiempo en la oficina. Ya estaba cansada de esa rutina”</h2>
                    </div>
                    <div class="review-text">
                        <h2>"Con mi jefe ya podemos ponernos de acuerdo y cada uno estar pendiente de los procesos que nos toca”</h2>
                    </div>
                    <div class="review-text">
                        <h2>"Ahora sí no se nos va a volver a pasar un Auto...”</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pull-3">
                <div class="review-meta-slider owl-carousel">
                    <div class="author-meta">
                        <div class="author-avatar set-bg" data-setbg="/assets/publico/img/review/2.jpg"></div>
                        <div class="author-name">
                            <h4>Andrés Rincón</h4>
                            <p>Abogado</p>
                        </div>
                    </div>
                    <div class="author-meta">
                        <div class="author-avatar set-bg" data-setbg="/assets/publico/img/review/1.jpg"></div>
                        <div class="author-name">
                            <h4>Julián Díaz</h4>
                            <p>Abogado, economista</p>
                        </div>
                    </div>
                    <div class="author-meta">
                        <div class="author-avatar set-bg" data-setbg="/assets/publico/img/review/3.jpg"></div>
                        <div class="author-name">
                            <h4>Fernanda González</h4>
                            <p>Abogada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review section end -->