<ba-card class="col-md-4 active" title="Editar proceso" data-toggle="collapse">
    <div class="row">
        <div class="col-12 col-md-4">
            <br>
            <label for="exampleSelect1">Ciudad</label>
            <select class="form-control" id="exampleSelect1" [(ngModel)]="selCiudad" (ngModelChange)="cityChange($event)" id="selectCiudad">
                <option *ngFor="let ciudad of ciudadesList" [ngValue]="ciudad">{{ciudad.nombre}}</option>
            </select>
        </div>
        <div class="col-12 col-md-8">
            <br>
            <label for="exampleSelect1">Entidad / Especialidad</label>
            <select class="form-control" id="exampleSelect1" [(ngModel)]="selEntidad" [disabled]="entidadesList.length == 0">
                <option *ngFor="let entidad of entidadesList" [ngValue]="entidad">{{entidad.nombre}}</option>
            </select>
        </div>
        <div class="col-12 col-md-6">
            <br>
            <label for="exampleSelect1">Código Proceso</label>
            <input type="text" value="" class="form-control task-todo" placeholder="Código de proceso" [(ngModel)]="nCodProcess" />
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 text-right">
            <div class="btn-group ">
                <button type="button" class="btn btn-primary" (click)="btnGuardar()">
                    <i class="fa fa-check"></i>
                    Actualizar proceso
                </button>
                <button type="button" class="btn btn-default" (click)="btnCancelar()">
                    <i class="fa fa-remove"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</ba-card>