<!-- Page info section -->
<section class="page-info-section">
    <div class="container">
        <h2>Contáctenos</h2>
        <div class="site-beradcamb">
            <a routerLink="/inicio">Inicio</a>
            <span>
                <i class="fa fa-angle-right"></i> Contacto </span>
        </div>
    </div>
</section>
<!-- Page info end -->



<!-- Contact section -->
<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--PRICE HEADING START-->
                <div class="price-heading clearfix">
                    <h1>¿Preguntas por hacernos?</h1>
                    <h3>
                        Para cualquier duda que tenga, puede contactarnos por este medio, o hacernos preguntas en nuestras redes sociales.
                        <br> Nos pondremos en contacto tan pronto como sea posible.
                        <strong>¡Queremos saber de usted!</strong>
                    </h3>
                </div>
                <!--//PRICE HEADING END-->
            </div>
        </div>
    </div>
    <div class="container  spad fadeInLeft animated">
        <div class="row">
            <div class="col-lg-7">
                <form class="contact-form" [formGroup]="formContacto" (ngSubmit)="onSubmit(formContacto.value)">
                    <div class="form-group row" [ngClass]="{'has-error': (!nombres.valid && nombres.touched), 'has-success': (nombres.valid && nombres.touched)}">
                        <div class="col-sm-12">
                            <input [formControl]="nombres" type="text" class="form-control" maxlength="100" placeholder="Nombre completo*">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-6" [ngClass]="{'has-error': (!correo.valid && correo.touched), 'has-success': (correo.valid && correo.touched)}">
                            <input [formControl]="correo" type="email" class="form-control" maxlength="100" placeholder="Correo electrónico* ">

                        </div>
                        <div class="col-sm-12 col-md-6" [ngClass]="{'has-error': (!telefono.valid && telefono.touched), 'has-success': (telefono.valid && telefono.touched)}">
                            <input [formControl]="telefono" type="tel" class="form-control" maxlength="100" placeholder="Teléfono o celular">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-error': (!pregunta.valid && pregunta.touched), 'has-success': (pregunta.valid && pregunta.touched)}">
                        <div class="col-sm-12">
                            <textarea [formControl]="pregunta" class="form-control" maxlength="400" placeholder="Haga su pregunta aquí*">
                                </textarea>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                ¡La pregunta es mínimo de 20 caracteres!.</span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <re-captcha formControlName="recaptcha" (resolved)="resolved($event)"></re-captcha>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn site-btn sb-gradients mt-4" [disabled]="!formContacto.valid">Enviar pregunta</button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-lg-5">

            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->