@import '../../../../theme/sass/auth';
@import '../../../../theme/sass/buttons';

.has-error input, .has-error textarea{
    border: 1px solid red !important;
}
.has-success input, .has-success textarea{
    border: 1px solid #5cb85c !important;
}