<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f3f2f0;" bgcolor="#f3f2f0;">
    <tbody>
        <tr>
            <td width="100%">
                <div class="webkit" style="max-width:600px;Margin:0 auto;">

                    <!-- ======= start main body ======= -->
                    <table class="outer" align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;Margin:0 auto;width:100%;max-width:600px;">
                        <tbody>
                            <tr>
                                <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                    <!-- ======= start header ======= -->

                                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <center>
                                                                        <table border="0" align="center" width="100%" cellpadding="0" cellspacing="0" style="Margin: 0 auto;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#FFFFFF">
                                                                                        <!-- ======= start header ======= -->

                                                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f3f2f0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:left;font-size:0;">
                                                                                                        <!--[if (gte mso 9)|(IE)]>
                                                                                                        <div class="column" style="width:100%;max-width:80px;display:inline-block;vertical-align:top;">
                                                                                                            <table class="contents" style="border-spacing:0; width:100%">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:5px;" align="left">
                                                                                                                            <a href="#" target="_blank">
                                                                                                                                        <img
                                                                                                                                            src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/dbed9c57f-5e00-4d9f-9719-5d36a9a02ebc.jpg"
                                                                                                                                            alt=""
                                                                                                                                            width="60"
                                                                                                                                            height="60"
                                                                                                                                            style="border-width:0; max-width:60px;height:auto; display:block"
                                                                                                                                            align="left"></a>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </div>

                                                                                                        <!--[if (gte mso 9)|(IE)]>
  												</td><td width="80%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
													<![endif]-->

                                                                                                        <div class="column" style="width:100%;max-width:518px;display:inline-block;vertical-align:top;">
                                                                                                            <table width="100%" style="border-spacing:0" cellpadding="0" cellspacing="0" border="0">
                                                                                                                <tbody>
                                                                                                                    <tr>

                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </div>

                                                                                                        <!--[if (gte mso 9)|(IE)]>
													</td>
													</tr>
													</table>
													<![endif]-->
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td>&nbsp;</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- ======= end header ======= -->

                                    <!-- ======= start hero image ======= -->
                                    <!-- ======= end hero image ======= -->

                                    <!-- ======= start hero article ======= -->

                                    <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; border-top:1px solid #e8e7e5"
                                        bgcolor="#FFFFFF">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="padding:50px 50px 50px 50px">

                                                    <span style="font-weight: bold">Demandantes: </span>
                                                    <ul class="people_list">
                                                        {{#each info.demandantes}}
                                                        <li>{{this}}</li>
                                                        {{/each}}
                                                    </ul>
                                                    <span style="font-weight: bold">Demandados: </span>
                                                    <ul class="people_list">
                                                        {{#each info.demandados}}
                                                        <li>{{this}}</li>
                                                        {{/each}}
                                                    </ul>

                                                    <p style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                                                        Se ha detectado una alerta en la plataforma de la Rama Judicial intentando consultar el proceso {{codProceso}}, de la ciudad de {{ciudad}} en la entidad/juzgado {{entidad}}.
                                                                                                                <br><br>
                                                        <span style="font-weight: bold">Alerta: </span> {{alerta}}
                                                        <br>
                                     </p>
                                                    <table border="0" align="left" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="250" height="60" align="center" bgcolor="#2f9780" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;"><a href="{{url}}" style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff"
                                                                                        class="button_link">Ir al proceso</a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px "><br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>Equipo de Vigile</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- ======= end hero article ======= -->

                                    <!-- ======= start footer ======= -->



                                    <!-- ======= end footer ======= -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
					</td>
				</tr>
			</table>
			<![endif]-->
                </div>
            </td>
        </tr>
    </tbody>
</table>