<div class="entry">
    <h1>{{tipo}}</h1>
    <div class="body">
        <b>MENSAJE:</b> {{mensaje}}
    </div>
    <p>
        <b>USUARI@:</b> {{email}} </p>
    <p>
        <b>PATH:</b> {{url}} </p>
</div>