<div class="pagina-completar-registro">

</div>
<div class="bloque-configuracion">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="vigile-icon">
            <a class="navbar-brand" href="" (click)="cerrarSesion()">Cerrar sesión
                <span>
                </span>
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="text-center">
            <div class="jumbotron" style="background-color: transparent !important">
                <h1>
                    <img class="img-responsive img-vigile-logo" src="/assets/img/vigile h.png" alt="">
                </h1>
            </div>

        </div>
        <div class="row my-4 ">
            <div class="col-lg-6">
                <h1>Está a un solo paso</h1>
                <p>Configure los datos de su firma en la aplicación</p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-lg-5 bloque-form">

                <ba-card>
                    <form [formGroup]="formGeneral">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputFirstName">Nombre de la firma</label>
                                    <input autofocus type="text" class="form-control" id="inputFirstName" [formControl]="nombre" maxlength="100" placeholder="Campo requerido">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputNit">NIT o documento</label>
                                    <input type="text" class="form-control" id="inputNit" [formControl]="documento" maxlength="100" placeholder="(Opcional)">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputEmail">Ciudad</label>
                                    <input type="email" class="form-control" [formControl]="ciudad" maxlength="100" id="inputEmail" placeholder="(Opcional)">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputWebsite">Teléfono</label>
                                    <input type="text" class="form-control" [formControl]="telefono" maxlength="100" id="inputWebsite" placeholder="(Opcional)">
                                </div>
                            </div>
                            <div class="col-sm-12 text-right pull-right">
                                <div class="">
                                    <button class="btn btn-default" (click)="omitir()">Omitir este paso</button>
                                    <button [disabled]="!formGeneral.valid" class="btn btn-primary btn-lg" (click)="guardar()">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ba-card>
            </div>

        </div>
    </div>
</div>