@import "../../../../theme/sass/conf/conf";
@import "../../../../theme/sass/bootstrap-overrides/overrides";

.pagina-completar-registro{
	align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url($assets-root + $images-root + 'firma-bg.jpg');
    // background-image: url('https://www.w3schools.com/howto/img_parallax.jpg');
    background-color: #cccccc;
    
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.65;
}

.bloque-configuracion{
.bloque-form{
}

.vigile-icon{
    
}

input {
    background: #dadada7d;
    height: 2em;
    font-size: 22px;

}

@media (max-width: 2000px) and (min-width: 1000px) {
    .img-vigile-logo{
        height: 90px;
    }
  }



}