@import "../../../../theme/sass/conf/conf";
:host /deep/.manageusers {
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}

.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}

.table-usuarios .cabecera{
    background: rgba(28, 43, 54, 0.66);
    color: #fff;
    font-weight: bold;
    border-right: 1px solid;

}
.dropdown.acciones *{
    cursor: pointer;
}

//

.update-nag{
  display: inline-block;
  font-size: 14px;
  text-align: left;
  background-color:#f0f3f4;
  height: 40px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
}

.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split{
  background: #337ab7;
  width: 33px;
  float: left;
  color: #fff!important;
  height: 100%;
  text-align: center;
}

.update-nag > .update-split > .glyphicon{
  position:relative;
  top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
}
.update-nag > .update-split.update-success{
  background: #5cb85c!important;
}

.update-nag > .update-split.update-danger{
  background: #d9534f!important;
}

.update-nag > .update-split.update-info{
  background: #5bc0de!important;
}



.update-nag > .update-text{
  line-height: 19px;
  padding-top: 11px;
  padding-left: 45px;
  padding-right: 20px;
}

}

@media screen and (max-width: $resXS) {
	.btn-text{
		display: none;
		color: red;
	}

}
.list-pr-component{
    
 tbody > tr > td {
     vertical-align: middle;
}
.click{
    cursor: pointer !important;
	border: 1px solid #f3f3f3 !important;
}
.table > tbody > tr > td {
    cursor: default;
}
.table > tbody > tr > td li{
    line-height: 16px;
}
.table > thead th {
    background: rgba(28, 43, 54, 0.66);
    color: #fff;
    font-weight: bold;
    border-right: 1px solid;
}
.demand{
	vertical-align: top !important;
}
.demand ul {
    padding-left: 10px;
}
}

.usuario .usuario-info{
    display: inline-flex;
}

.usuario .img{
    font-size: 3em;
	margin: 3px;
	margin-right: 10px;
}


.usuario .nombre{
    word-break: break-word;
}

.usuario .creado{
    word-break: break-word;
}


.usuario-activo>div {
    border-left: 4px solid $primary !important;
}

.usuario-pendiente>div {
    border-left: 4px solid yellow !important;
}

.usuario-inactivo>div {
    border-left: 4px solid gray !important;
}

.users-table tr{
    cursor: pointer;
}

.users-table tr .danger{
    color: $danger;
}

.users-table tr .warning{
    color: $warning;
}

.users-table tr .primary{
    color: $primary;
}

.acceso-universal{
    font-size: 16em;
    margin: auto;
    position: relative;
    text-align: center;
}