<div class="manageusers widgets">
    <div class="row" *ngIf="datosCuenta.active">
        <ba-card class="col-xs-12 col-sm-6 col-md-6 text-center" *ngIf="!adding">
            <div class="btn add-user" (click)="displayAddUserFormat(true)">
                <h3 class="">
                    <span class="fa fa-plus-circle"> </span> Agregar usuario
                </h3>
            </div>
        </ba-card>
        <ba-card class="col-xs-12" *ngIf="adding">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <h4>Nuevo usuario en su firma</h4>
                        <p>Especifique el correo del usuario:</p>
                        <!-- <span class="section-block small-text">Si el usuario no existe en Vigile, le enviaremos un correo de invitación:</span> -->
                        <input [formControl]="email" type="email" class="form-control" maxlength="100" value="" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                    </div>
                    <div class="col-sm-6">

                        <h4>Permisos</h4>
                        <p class="light-text">Defina los permisos del nuevo usuario en su firma

                        </p>

                        <div class="form-check" *ngFor="let p of listaPermisosNuevoUsuario;  let i = index">
                            <label class="form-check-label" attr.for="{{p.id + '-' + i}}">
                                <input class="form-check-input" type="checkbox" attr.id="{{p.id + '-' + i}}" [value]="p.id" [checked]="p.checked" [disabled]="p.disabled"
                                    (change)="selectPermisos($event, p)">
                                <b>{{p.title}}: </b> {{p.label}}
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="col-sm-9">
                        <div class="btn-group-example text-rigth">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-default btn-with-icon" (click)="displayAddUserFormat(false)">
                                    <i class="fa fa-remove"></i>
                                    <span class="btn-text">Cancelar</span>
                                </button>
                                <button type="button" class="btn btn-primary btn-with-icon" (click)="onSubmit(form.value)">
                                    <i class="fa fa-check"></i>
                                    <span class="btn-text">Confirmar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ba-card>
    </div>
    <div class="row" *ngIf="users">
        <div class="horizontal-scroll">
        </div>

        <ba-card [title]="user.datos.nombre" class="col-12 col-md-6" *ngIf="mostrarUsuario">
            <div>
                <div class="">
                    <h4>Darle permisos</h4>
                    <p class="light-text">Modifique los permisos que el usuario tendrá cuando trabaje en esta firma.
                    </p>
                    <div class="form-check" *ngFor="let p of user.permisos;  let i = index">
                        <label class="form-check-label" attr.for="{{p.id + '-' + i}}">
                            <input class="form-check-input" type="checkbox" attr.id="{{p.id + '-' + i}}" [value]="p.id" [checked]="p.checked" [disabled]="p.disabled"
                                (change)="selectPermisos($event, p)">
                            <b>{{p.title}}: </b> {{p.label}}
                        </label>
                    </div>

                </div>
                <!-- <div>
                    <h4>Acciones</h4>
                    <p>
                        Eliminar al usuario<button class="btn btn-banger">Eliminar</button>
                    </p>
                </div> -->
                <hr>
                <div class="">
                    <div class="btn-group-example text-rigth">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-default btn-with-icon" (click)="cancelUserSelected(false)" [disabled]="isBusy">
                                <i class="fa fa-remove"></i>
                                <span class="btn-text">Cancelar</span>
                            </button>
                            <button type="button" class="btn btn-primary btn-with-icon" (click)="updateUser(user)" [disabled]="isBusy">
                                <i class="fa fa-check"></i>
                                <span class="btn-text">Actualizar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ba-card>
    </div>
    <div class="row card" *ngIf="users.length">
        <div class="vertical-scroll">
            <table class="table table-usuarios">
                <tr class="cabecera">
                    <th>Estado</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Permisos</th>
                    <th>Desde</th>
                    <th></th>
                </tr>
                <tr *ngFor="let usuario of users;  let i = index" [ngClass]="{'info' : usuario.id == currentUserId, 'table-warning' : !usuario.activo && usuario.estado === 'Pendiente', 'table-error' : !usuario.activo && usuario.estado === 'Activo'}">
                    <td>{{usuario.activo ? 'Activo' : 'Inactivo'}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.correo}}</td>
                    <td>

                        <ul class="list-inline">
                            <li class="list-inline-item" *ngFor="let p of usuario.permisos">{{p | titlecase}}</li>
                        </ul>
                    </td>
                    <td>
                        {{usuario.agregado | date }}
                    </td>
                    <td>
                        <div class="dropdown acciones" *ngIf="!usuario.isOwner">
                            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                                Acciones
                            </a>
                            <ul class="dropdown-menu top-dropdown-menu  dropdown-menu-right profile-dropdown" aria-labelledby="user-profile-dd">
                                <li class="dropdown-item" (click)="userSelected(usuario)">
                                    Modificar
                                </li>
                                <li class="dropdown-item" (click)="cancelarInvitacion(usuario)" *ngIf="usuario.estado === 'Pendiente'">
                                    Cancelar invitación
                                </li>
                                <li class="dropdown-item" (click)="eliminarUsuario(usuario)" *ngIf="usuario.activo && (usuario.id != currentUserId)">
                                    Eliminar
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="usuario.isOwner">Dueño(a)</div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>