<div class="alert alert-warning alert-dismissible fade in" *ngIf="!cuentaActiva && mensaje != ''">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>¡Suscripción finalizada!</strong>
    {{mensaje}}
</div>