<div class="firmas">


    <div class="row" *ngIf="invitaciones.length > 0 ">
        <h2>Invitaciones</h2>
        <ba-card class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="list-group">
                <div class="list-group-element text-justify" *ngFor="let i of invitaciones">
                    La firma
                    <strong> {{i.company.nombre}}</strong> le ha hecho una invitación para que pueda trabajar en
                    <span class="vigile-name">Vigile</span> con ellos. Quien administre esa cuenta puede darle permisos de acceso a la información
                    de los procesos relacionados. Los permisos que le otorgan por ahora constan de:
                    <br>
                    <ul>
                        <li *ngFor="let permiso of i.listaPermisos">
                            <b>{{permiso[0].title}}: </b> {{permiso[0].label}}
                        </li>
                    </ul>
                    <div class="pull-right">
                        <div class="btn-group-example">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary btn-with-icon" [disabled]="isBusy" (click)="responderInvitacion(i, true)">
                                    <i class="fa fa-check"></i>
                                    <span class="btn-text">Aceptar</span>
                                </button>
                                <button type="button" class="btn btn-default btn-with-icon" [disabled]="isBusy" (click)="responderInvitacion(i, false)">
                                    <i class="fa fa-remove"></i>
                                    <span class="btn-text">Rechazar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ba-card>
    </div>

</div>
<ba-card class="container">
    <h4>Información</h4>
    <h5>En Vigile puede trabajar en varias firmas además de la suya</h5>
    <p> Haciendo clic en el ícono
        <i class="fa fa-bars" style="color: #324a5e;"></i> en la parte superior derecha de cada firma, puede escogerla para trabajar ahí.
        <br> Si en algún momento desea dejar de pertenecer a esa firma puede hacerlo en el mismo menú
    </p>
</ba-card>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let f of firmas;  let i = index">
        <div class="card firmas-cards">
            <div class="dropdown al-user-profile" *ngIf="currentCompany && currentCompany.id != f.id">
                <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bars fa-2x" style="color: #324a5e;"></i>
                </a>
                <ul class="dropdown-menu top-dropdown-menu  dropdown-menu-right profile-dropdown" aria-labelledby="user-profile-dd">
                    <li class="dropdown-header">Acciones</li>
                    <li class="dropdown-item" (click)="elegirFirma(f)">
                        Trabajar en esta firma
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-item" (click)="salirDeFirma(f)" *ngIf="!f.isOwner">
                        Abandonar esta firma
                    </li>
                </ul>
            </div>
            <img src="assets/img/team/team-3.png" alt="Avatar">
            <div class="card-body">
                <h5 class="card-title">{{f.company.nombre}}</h5>
                <p class="card-text">Los siguientes son los permisos que tiene al trabajar sobre esta firma</p>
            </div>
            <ul class="list-group list-group-flush">
                <div *ngFor="let permiso of listaPermisos;  let i = index">
                    <div *ngIf="mostrarPermiso(permiso.id, f.permisos)">
                        <li class="list-group-item" data-toggle="collapse" attr.data-target="#collapse-{{f.company.id + '-' + i}}" aria-expanded="true"
                            attr.aria-controls="collapse-{{f.company.id + '-' + i}}">
                            {{permiso.title}}
                        </li>
                        <div attr.id="collapse-{{f.company.id + '-' + i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <p class="list-group-item active">
                                {{permiso.label}}
                            </p>
                        </div>
                    </div>
                </div>
            </ul>
            <!-- <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div> -->
            <div class="card-body" *ngIf="currentCompany.companyId == f.company.id">
                <li class="list-group-item active">
                    Está trabajando en esta firma
                </li>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card col-md-4" *ngFor="let f of firmas">
    <img src="assets/img/team/team-3.png" alt="Avatar">
    <div class="container">
        <h4>
            <b>{{f.company.nombre}}</b>
        </h4>
        <p>Architect & Engineer</p>
    </div>
</div> -->