@import "../../theme/sass/conf/conf";
.firmas{
    dt{
        text-transform: capitalize;
    }
}

.firmas-cards{
	margin-bottom: 15px;
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 40%;
	}
	
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	
	.container {
		padding: 2px 16px;
	}

	img{
		width: 61%;
		padding-top: 14px;
		position: relative;
		margin: auto;	
	}
	.dropdown-toggle::after {
		display:none;
	}

	.dropdown{
		position: absolute;
		right: 0px;
		margin: 14px;
		cursor: pointer;
	}

	.list-group-item.active {
		z-index: 2;
		color: #fff;
		background-color: #0275d8;
		border-color: #0275d8;
	}
}

.firma-list-element {
    
}

.firma-list-element .data {
    width: 97%;
}
.firma-list-element .data .nombre{
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}


.right-part{
    position: absolute;
    top: 11px;
    right: 16px;
}

.right-part .dropdown-toggle::after {
    display:none
}
.right-part .fecha{
    font-size: 0.7em;
    left: -71px;
    position: relative;
}
.firma-list-element .menu {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.firma-list-element .menu span {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
.al-company{
	.company-name {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		cursor: pointer;
	}
	.company-name:hover {
		text-decoration: underline !important;
	}
	.dropdown-menu .dropdown-item{
		cursor: pointer;
	}
}
.firma-list-element .estado {
    
}

.firma-list-element .estado.primary {
    
}
.firma-list-element .estado.warning {
    
}


.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}