<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <pie-chart></pie-chart>
  </div>
</div>

<div class="row">
  <ba-card class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                     title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
    <traffic-chart></traffic-chart>
  </ba-card>
</div>


