.active{
    background: #c9cdd1;
    color: #000 !important;
    border-color: transparent;
}

span.company{
    color: #209e91;
}

.user-list{
    line-height: 36px;
}

.user-list-item{
    text-decoration: underline;
    color: #0070ff;
    cursor: pointer;
    padding: 10px;
}