<div class="container">
    <ba-card title="Buscador">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <br>
                    <label for="exampleSelect1">Busca correos que empiezan por...</label>
                    <input class="form-control" [(ngModel)]="filter.email" placeholder="Correo" (keyup)="keyPressed($event)" />
                    <hr>
                    <button type="button" class="btn btn-primary btn-raised" (click)="buscar()">
                        Buscar
                    </button>
                </div>
                <div class="col-md-8 user-list">
                    <div>
                        <span class="user-list-item" *ngFor="let user of listaUsuarios" (click)="cargarInfoUsuario(user.id)">
                            {{user.email}}
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default" *ngIf="moreResults" (click)="masDatos()">
                            Más Datos
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </ba-card>


    <div class="row" *ngIf="u">

        <div class="col-md-5">
            <div class="list-group">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{u.usuario.nombre}} de
                                <span class="company">{{u.usuario.company.nombre}}</span>
                            </h3>
                        </div>
                        <p class="mb-1"> {{u.usuario.email}}
                        </p>
                        <p class="mb-1" *ngIf="u.usuario.company.telefonos.size">Teléfonos:
                            <br> {{u.usuario.company.telefonos}}
                        </p>
                        <small> Since {{u.usuario.company.createdAt | date }}</small>
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item bold">Tipo de cuenta: {{u.cuenta.tipo}}
                        </li>
                        <li class="list-group-item">Estado: {{u.cuenta.active ? 'Activa' : 'Inactiva'}}
                        </li>
                        <li class="list-group-item">Máx Procesos: {{u.cuenta.limit}}
                        </li>
                        <li class="list-group-item">Máx Usuarios: {{u.cuenta.usuarios}}
                        </li>
                        <li class="list-group-item">Inicio: {{u.cuenta.activation | date}}
                        </li>
                        <li class="list-group-item">Finaliza: {{u.cuenta.ends | date}}
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-primary btn-with-icon" (click)="cerrar()">
                                <i class="fa fa-search"></i>
                                <span class="btn-text">Cerrar</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <ba-card title="Gestionar suscripción">

                <div class="row">
                    <div class="col-md-12">
                        <label for="exampleSelect1">Configuración</label>
                        <select class="form-control" id="exampleSelect1" [(ngModel)]="planId" (ngModelChange)="elegirPlan($event)">
                            <option selected="selected" value=""> -- Elija un plan -- </option>
                            <option *ngFor="let p of planes" [ngValue]="p.id">{{p.nombre}}</option>
                        </select>

                        <div class="" *ngIf="planSel">
                            <hr>
                            <label for="exampleSelect1">Arme el plan</label>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="exampleSelect1">Número de Procesos</label>
                                    <input type="number" [(ngModel)]="planSel.procesos" class="form-control" id="inputPassword3">
                                </div>
                                <div class="col-sm-6">
                                    <label for="exampleSelect1">Duración del plan en días</label>
                                    <input [(ngModel)]="planSel.duracion" type="number" class="form-control" id="inputPassword3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="exampleSelect1">Número de Usuarios</label>
                                    <input [(ngModel)]="planSel.usuarios" type="number" class="form-control" id="inputPassword3">
                                </div>
                                <div class="col-sm-6">
                                    <label for="exampleSelect1">Costo del plan: </label><br>
                                    <span> $ {{(planSel.procesos * planSel.valorProceso) + (planSel.usuarios *
                                        planSel.valorUsuario ) |
                                        currency:'COP':true}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-line">
                                    <div class="btn-group-example">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-primary btn-with-icon" (click)="activarPlan()">
                                                <i class="fa fa-search"></i>
                                                <span class="btn-text">Activar ahora</span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-with-icon" (click)="agregarPlan()">
                                                <i class="fa fa-remove"></i>
                                                <span class="btn-text">Añadir a la cola</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </ba-card>
        </div>
    </div>