<div class="container">
  <div class="row">
    <ba-card title="Información de usuario" class="col-md-5">
      <div class="panel-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row clearfix">
  
  
              <div class="col-sm-9">
                <!-- 
                <input type="email" class="form-control" maxlength="100" placeholder="" value="">
                -->
                <label>Email</label>
                <h4> {{emailVerified}}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="display: none">
            <div class="form-group row clearfix">
              <label for="inputPhone" class="col-sm-3 control-label">Número de celular</label>
  
              <div class="col-sm-9">
                <input type="text" class="form-control" maxlength="10" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-md-6">
            
          </div>
        </div>
        <div class="row" style="display: none">
          <div class="col-md-6 form-line">
            <div class="btn-group-example">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-with-icon">
                        <i class="fa fa-search"></i>
                        Guardar
                    </button>
                <button type="button" class="btn btn-default btn-with-icon">
                        <i class="fa fa-refresh"></i>
                        Cancelar 
                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ba-card>
    <ba-card class="col-md-7 text-center vigile-logo" >
      <img class="img img-responsive" src="/assets/img/vigile-aqua.png">
    </ba-card>
  </div>
  <ba-card title="Información personal" style="display: none">
    <div class="panel-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row clearfix">
              <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>
              <div class="col-sm-9">
                <div class="userpic">
                  <div class="userpic-wrapper">
                    <img src="/assets/img/vigile-aqua.png">
                  </div>
                  <i class="ion-ios-close-outline" ></i>
                  <a href class="change-userpic">Cambiar foto de perfil</a>
                  <!-- 
                  <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
                -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
    </div>
  </ba-card>
  
  <ba-card title="Información general">
    <div class="panel-content">
      <form [formGroup]="formGeneral" class="form-horizontal">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row clearfix" [ngClass]="{'has-error': (!nombre.valid && nombre.touched), 'has-success': (nombre.valid && nombre.touched)}">
              <label for="inputFirstName" class="col-sm-3 control-label">Nombre o Razón Social</label>
  
              <div class="col-sm-9">
                <input type="text" [formControl]="nombre" class="form-control" maxlength="100" value="">
              </div>
            </div>
            <div class="form-group row clearfix">
              <label for="inputLastName" class="col-sm-3 control-label">NIT o Documento</label>
  
              <div class="col-sm-9">
                <input type="text" [formControl]="documento" class="form-control" maxlength="30" placeholder="(Opcional)" value="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row clearfix" [ngClass]="{'has-error': (!telefono.valid && telefono.touched), 'has-success': (telefono.valid && telefono.touched)}">
              <label class="col-sm-3 control-label">Teléfono empresarial</label>
  
              <div class="col-sm-9">
                <input type="text" [formControl]="telefono" class="form-control" maxlength="15" placeholder="" value="">
              </div>
            </div>
            <div class="form-group row clearfix">
              <label class="col-sm-3 control-label">Ciudad</label>
  
              <div class="col-sm-9">
                <input type="text" [formControl]="ciudad" class="form-control" maxlength="50" placeholder="" value="">
              </div>
            </div>
  
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-line">
            <div class="btn-group-example">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-with-icon" [disabled]="!formGeneral.valid" 
                (click)="actualizarEmpresa()">
                        <i class="fa fa-search"></i>
                        Actualizar
                    </button>
                <button type="button" class="btn btn-default btn-with-icon">
                        <i class="fa fa-remove"></i>
                        Cancelar 
                    </button>
              </div>
            </div>
          </div>
        </div>
  
        <h3 class="with-line" style="display: none">Información de Notificaciones</h3>
        <div class="row" style="display: none">
          <div class="notification row clearfix">
            <div class="col-sm-6">
              <div class="form-group row clearfix">
                <label class="col-xs-8">Nueva actuación detectada</label>
  
                <div class="col-xs-4">
                </div>
              </div>
              <div class="form-group row clearfix">
                <label class="col-xs-8">Cuando alguien me envíe una invitación</label>
  
                <div class="col-xs-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ba-card>
</div>