<div class="container">
    <div class="row micuenta-container">
        <ba-card class="col-md-5" title="Nuevo Plan" data-toggle="collapse">

            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="exampleSelect1">Nombre del Plan</label>
                    <input [(ngModel)]="plan.nombre" type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="exampleSelect1">Número de Procesos</label>
                    <input type="number" [(ngModel)]="plan.procesos" class="form-control" id="inputPassword3">
                </div>
                <div class="col-sm-6">
                    <label for="exampleSelect1">Valor por proceso</label>
                    <input [(ngModel)]="plan.valorProceso" type="number" class="form-control" id="inputPassword3">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="exampleSelect1">Número de Usuarios</label>
                    <input [(ngModel)]="plan.usuarios" type="number" class="form-control" id="inputPassword3">
                </div>
                <div class="col-sm-6">
                    <label for="exampleSelect1">Valor por Usuario</label>
                    <input [(ngModel)]="plan.valorUsuario" type="number" class="form-control" id="inputPassword3">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="exampleSelect1">Duración del plan en días</label>
                    <input [(ngModel)]="plan.duracion" type="number" class="form-control" id="inputPassword3">
                </div>
                <div class="col-sm-6">
                    <label for="exampleSelect1">Costo del plan: </label><br>
                    <span> $ {{(plan.procesos * plan.valorProceso) + (plan.usuarios * plan.valorUsuario ) |
                        currency:'COP':true}}</span>
                </div>
            </div>
            <div class="form-group row">
            </div>

            <div class="form-group row text-right">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-danger" *ngIf="onEdit" (click)="eliminarPlan()">Eliminar</button>
                    <button class="btn btn-default" (click)="cancelarEdicion()">Cancelar</button>
                    <button class="btn btn-primary" (click)="guardarPlan()">Guardar</button>
                </div>
            </div>

        </ba-card>



    </div>
    <div class="container">
        <div class="row">
            <ba-card class="col-sm-12 col-md-6" *ngFor="let item of planList">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{item.nombre}}</h5>
                    <small class="btn" (click)="editarPLan(item)">Editar</small>
                </div>
                <div class="plan-datos">{{item.usuarios}} Usuarios a ${{item.valorUsuario}} c/u</div>
                <div class="plan-datos">{{item.procesos}} Procesos a ${{item.valorProceso}} c/u</div>
                <div class="plan-datos">Tiene una duración de {{item.duracion}} días</div>
                <div class="plan-datos">Costo del plan:
                    $ {{(item.procesos * item.valorProceso) + (item.usuarios * item.valorUsuario ) |
                    currency:'COP':true}}
                </div>
            </ba-card>
        </div>
    </div>
</div>