<div *ngIf="ready">
    <div class="row micuenta-container" *ngIf="company">
        <ba-card class="col-md-5" title="Información de la firma" data-toggle="collapse">
            <div class="">
                <h5 class="list-group-item-heading">Nombre</h5>
                <p class="list-group-item-text">{{company.nombre}}</p>
            </div>
            <div class="" *ngIf="company.documento">
                <div>
                    <h5 class="list-group-item-heading">NIT o Documento</h5>
                    <p class="list-group-item-text">{{company.documento}}</p>
                </div>
            </div>
            <div class="" *ngIf="company.telefonos">
                <h5 class="list-group-item-heading">Teléfonos </h5>
                <p class="list-group-item-text">{{company.telefonos}}</p>
            </div>
            <div class="">
                <h5 class="list-group-item-heading">Ingresó al sistema </h5>
                <p class="list-group-item-text">{{formatDate(company.createdAt, "LL")}}</p>
            </div>

        </ba-card>
        <ba-card class="col-md-7" title="Información de la cuenta" data-toggle="collapse">
            <div class="offer" [ngClass]="{'offer-danger': !cuenta.active, 'offer-success': cuenta.active}">
                <div class="shape">
                    <div class="shape-text">
                        {{ cuenta.active ? 'ON' : 'OFF'}}
                    </div>
                </div>
                <div class="offer-content">
                    <h3 class="text-center bold">
                        {{cuenta.tipo}}
                    </h3>
                </div>
                <div class="" *ngIf="cuenta.active">
                    <div class="" *ngIf="progress">
                        <div>
                            <div class="progress">
                                <div [ngClass]="'progress-bar progress-bar-striped active'" class="progress-bar-{{progress.class}}" role="progressbar" aria-valuenow="40"
                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': progress.p }">
                                    {{progress.msg}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" *ngIf="cuenta.active">
                <div class="list-group-item" *ngIf="progress">
                    <p class="list-group-item-text">
                        Inició el {{progress.init}} y caduca el <strong>{{progress.end}}</strong>.
                    </p>
                </div>
            </div>

        </ba-card>

    </div>
</div>
<div class="row">
    <ba-card class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" title="Mis procesos" baCardClass="traffic-panel">
        <div class="loader text-center" *ngIf="!ready" style="color: #1c2b36;">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <br> Cargando
            <span class="sr-only">Loading...</span>
        </div>
        <div class="channels-block">

            <div class="chart-bg"></div>
            <div class="traffic-chart" id="trafficChart">
                <div class="canvas-holder">
                    <canvas class="chart-area" width="300px" height="300px"></canvas>
                    <div class="traffic-text" *ngIf="cuenta">
                        {{cuenta.limit}}
                        <span>Total procesos </span>
                    </div>
                </div>
                <div class="traffic-legend"></div>
            </div>

            <div class="channels-info">
                <div>
                    <div class="channels-info-item" *ngFor="let item of pChart">
                        <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
                        <p>{{ item.label }}<span class="channel-number">{{ item.value }}</span></p>
                        <div class="progress progress-sm channel-progress">
                            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="item.percentage" aria-valuemin="0" aria-valuemax="100"
                                [ngStyle]="{width: item.percentage + '%' }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ba-card>
</div>
<div class="row pie-charts">

    <ba-card *ngFor="let chart of pieChartsInfo" class="pie-chart-item-container col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">

        <div class="pie-chart-item">
            <div class="description">
                <div>{{ chart.description }}</div>
                <div class="description-stats">{{ chart.stats }}</div>
            </div>
            <i class="chart-icon fa fa-{{ chart.icon }}"></i>
        </div>

    </ba-card>
</div>