@import "../../../../theme/sass/conf/conf";

:host /deep/.pie-charts {
  color: $content-text;

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .card {
      height: 114px;
    }
  }

 

  .pie-chart-item {
    position: relative;
    color: $content-text;
    font-size: 5em;
    .chart-icon {
      position: absolute;
      right: 0;
      top: 3px;
    }
  }

  
  
  .description {
    display: inline-block;
    padding: 20px 0 0 20px;
    font-size: 18px;
    opacity: 0.9;
    .description-stats {
      padding-top: 8px;
      font-size: 24px;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}
