<div class="auth-main">
    <div *ngIf="!submitted" class="xs-12 col-sm-8 col-md-6 r-form-1-box wow fadeInLeft animated auth-block" style="visibility: visible; animation-name: fadeInLeft;">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!clave.valid && clave.touched), 'has-success': (clave.valid && clave.touched)}">
                <div class="col-sm-12">
                    <input [formControl]="clave" type="password" class="form-control" id="clave" placeholder="Nueva clave">
                    <div *ngIf="clave.touched && (clave.errors && clave.errors.pattern)" class="text-danger">
                        <br> La nueva clave debe tener mínimo
                        <ul>
                            <li>Seis caracteres</li>
                            <li>Una mayúscula</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!repetir.valid && repetir.touched), 'has-success': (repetir.valid && repetir.touched)}">
                <div class="col-sm-12">
                    <input [formControl]="repetir" type="password" class="form-control" id="repetir" placeholder="Confirmar nueva clave">
                    <small *ngIf="(repetir.touched && clave.touched) && (repetir.value != clave.value)" class="text-danger">Las claves no coinciden</small>
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="offset-sm-2 col-sm-10">
                    <button [disabled]="!form.valid || busy" type="submit" class="btn btn-primary btn-auth">Enviar</button>
                </div>
            </div>
            <hr>
            <div>
                <a routerLink="/inicio" class="forgot-pass">Volver al inicio</a>
                <a routerLink="/login" class="auth-link">Ir a login</a>
            </div>
        </form>
    </div>

    <div *ngIf="submitted" class="xs-12 col-sm-8 col-md-6 r-form-1-box wow fadeInLeft animated auth-block" style="visibility: visible; animation-name: fadeInLeft;">
        <div *ngIf="claveCambiada">
            <h1 class="text-center">
                <i class="fa fa-check"></i> Listo, ya está
            </h1>
            <p>
                La clave fue cambiada con éxito
            </p>
            <div class="form-group row text-right">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-primary btn-auth" routerLink="/login">Iniciar sesión</button>
                </div>
            </div>
        </div>
        <div *ngIf="!claveCambiada">

            <h1 class="text-center">
                <i class="fa fa-block"></i>Ocurrió un error al intentar cambiar la clave
            </h1>
            <p>
                Por favor, inténtelo nuevamente más tarde
            </p>
        </div>

        <hr>
    </div>
</div>