<div class="loader text-center" *ngIf="!ready" style="color: #1c2b36;">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <br> Cargando datos del proceso
    <span class="sr-only">Loading...</span>
</div>
<div class="detalle-proceso-container  typography-widget" *ngIf="ready">
    <!-- -->
    <!-- -->
    <!-- -->
    <div class="list-group">
        <div>
            <div *ngIf="proceso.reconsultar">

                <div>
                    <div class="alert alert-info">
                        <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> Este proceso se ha
                        marcado para ser reconsultado. Los datos serán actualizados por completo en la próxima búsqueda de
                        cambios y se verán reflejados hasta el día siguiente.
                        <br> Si usted desea cancelar esta <strong> CONSULTA TOTAL</strong> haga <span (click)="reprocesar(false)">click acá</span>.
                    </div>
                </div>
            </div>
            <div class="list-group-item main-proceso">

                <div class="col-md-8">
                    <div>
                        <h4 class="list-group-item-heading">{{proceso.codProceso}}</h4>
                        <p class="list-group-item-text">
                            {{proceso.ciudad}}<br> {{proceso.entidad}}
                        </p>
                        <p *ngIf="proceso.ultimoEscan">
                            <strong>Última revisión del proceso: </strong> {{formatDate(proceso.ultimoEscan)}}<br>
                            <strong>Última actualización de los datos: </strong> {{formatDate(proceso.ultimaAct)}}
                        </p>
                    </div>
                    <div *ngIf="tieneProblema">
                        <div class="alert alert-danger">
                            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> El proceso produjo
                            un error en el último escaneo.<br>
                            <strong>Mensaje: </strong>{{proceso.problem.msg}}
                            <br>
                            <strong>Sucedió: </strong>{{proceso.problem.date}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="btn-group " ngbDropdown>
                        <button type="button" class="btn btn-default btn-action" (click)="cerrar('cerrar')">
                            <i class="fa fa-arrow-left"></i>
                            Volver
                        </button>
                        <button type="button" class="btn btn-primary btn-action" ngbDropdownToggle *ngIf="!enEdicion">
                            <i class="fa fa-navicon"></i>
                            Acciones
                        </button>
                        <ul class="dropdown-menu" *ngIf="!isBusy">
                            <li class="dropdown-item" *ngIf="tieneProblema || esNuevo">
                                <div class="" (click)="mostrarVistaEdicion()">
                                    Editar
                                </div>
                            </li>
                            <li class="dropdown-item" *ngIf="tieneProblema">
                                <div class="" (click)="reactivar()">
                                    Ignorar y reactivar
                                </div>
                            </li>
                            <!-- <li class="dropdown-item">
                                <div class="" (click)="reprocesar(true)" *ngIf="!proceso.reconsultar">
                                    Volver a consultar
                                </div>
                            </li> -->
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item">
                                <div class="red-text" (click)="eliminarProceso()">
                                    Eliminar
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="alert alert-info fade in mensaje-suscrito" >
                    <span *ngIf="estaSuscrito">
                        Usted está suscrito a las notificaciones sobre nuevas actuaciones en este proceso.
                    </span>
                    <span *ngIf="!estaSuscrito">
                        Usted puede suscribirse a las notificaciones sobre actuaciones nuevas en este proceso.
                    </span>
                    <strong class="accion" (click)="cambioSuscripcion()"> Haga clic acá para {{estaSuscrito ? 'quitar suscripción.' : 'suscribirse al proceso'}}</strong>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="!esNuevo">
        <ba-card class="col-md-4 active" title="Última actuación" data-toggle="collapse">
            <div class="fecha-actuacion">
                {{proceso.estadoActual.fechaActuacion}}
            </div>
            <div class="">
                <div>
                    <h5 class="list-group-item-heading">Actuación</h5>
                    <p class="list-group-item-text">{{proceso.estadoActual.actuacion}}</p>
                </div>
            </div>
            <div class="">
                <h5 class="list-group-item-heading">Anotación</h5>
                <p class="list-group-item-text">{{proceso.estadoActual.anotacion}}</p>
            </div>
            <div class="">
                <h5 class="list-group-item-heading">Fecha inicio término</h5>
                <p class="list-group-item-text">{{proceso.estadoActual.fechaInicioTermino}}</p>
            </div>
            <div class="">
                <h5 class="list-group-item-heading">Fecha fin término</h5>
                <p class="list-group-item-text">{{proceso.estadoActual.fechaFinTermino}}</p>
            </div>
            <div class="">
                <h5 class="list-group-item-heading">Fecha de Registro</h5>
                <p class="list-group-item-text">{{proceso.estadoActual.fechaRegistro}}</p>
            </div>

        </ba-card>
        <ba-card class="col-md-8" title="Datos del proceso" data-toggle="collapse">
            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <h5 class="list-group-item-heading">Despacho</h5>
                        <p class="list-group-item-text">{{proceso.info.despacho}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <h5 class="list-group-item-heading">Ponente</h5>
                        <p class="list-group-item-text">{{proceso.info.ponente}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <h5 class="list-group-item-heading">Demandantes</h5>
                        <p class="list-group-item-text" *ngFor="let item of proceso.info.demandantes">
                            {{item}}
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <h5 class="list-group-item-heading">Demandados</h5>
                        <p class="list-group-item-text" *ngFor="let item of proceso.info.demandados">
                            {{item}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="proceso.info.clasificacion">
                <h3 class="list-group-item-heading">Clasificación</h3>
                <div class="col-md-3 form-line">
                    <div class="">
                        <div class="">
                            <h5 class="list-group-item-heading">Tipo</h5>
                            <p class="list-group-item-text">{{proceso.info.clasificacion.tipo}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-line">
                    <div class="">
                        <h5 class="list-group-item-heading">Clase</h5>
                        <p class="list-group-item-text">{{proceso.info.clasificacion.clase}}</p>
                    </div>
                </div>
                <div class="col-md-3 form-line">
                    <div class="">
                        <h5 class="list-group-item-heading">Recurso</h5>
                        <p class="list-group-item-text">{{proceso.info.clasificacion.recurso}}</p>
                    </div>
                </div>
                <div class="col-md-3 form-line">
                    <div class="">
                        <h5 class="list-group-item-heading">Ubicación</h5>
                        <p class="list-group-item-text">{{proceso.info.clasificacion.ubicacion}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <h3 class="list-group-item-heading">Contenido</h3>
                        <p class="list-group-item-text">{{proceso.info.contenido}}</p>
                    </div>
                </div>
            </div>
        </ba-card>
    </div>
    <editprocess [proceso]="proceso" (finish)="finishEditing($event)" *ngIf="enEdicion"> </editprocess>
    <!-- -->
    <!-- -->
    <!-- -->
    <ba-card class="col-12" title="Actuaciones del proceso" *ngIf="!tieneProblema && !esNuevo">
        <div class="row">
            <div class="list-table-component col-12">
                <div class="table-responsive" *ngIf="actuaciones.length > 0">
                    <table class="table table-bordered table-condensed mytable">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Fecha de Actuación</th>
                                <th class="col-xs-2">Actuación</th>
                                <th class="col-xs-6">Anotación</th>
                                <th class="col-xs-1">Fecha Inicia Término</th>
                                <th class="col-xs-1">Fecha Finaliza Término</th>
                                <th class="col-xs-1">Fecha de Registro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of actuaciones" [ngClass]="{}">
                                <td class="">
                                    {{item.fechaActuacion}}
                                </td>
                                <td class="">
                                    {{item.actuacion}}
                                </td>
                                <td class="text-left">
                                    {{item.anotacion}}
                                </td>
                                <td class="">
                                    {{item.fechaInicioTermino}}
                                </td>
                                <td class="">
                                    {{item.fechaFinTermino}}
                                </td>
                                <td class="">
                                    {{item.fechaRegistro}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center cargar-mas" *ngIf="moreResults && !buscando">
                        <button class=" btn btn-outlined btn-primary" [disabled]="buscando" (click)="cargarActuaciones()">
                        CARGAR MÁS DATOS
                    </button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="loader text-center" *ngIf="buscando" style="color: #1c2b36;">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

        </div>
    </ba-card>
</div>