@import "../../../../theme/sass/conf/conf";
:host /deep/.detalle-proceso-container {
.itCodigo {
    font-size: 1.3em;
    margin-bottom: 5px;
    color: #209e91;
}

.itEntidad {
    font-size: 0.8em;
}

.itCiudad {
    font-size: 1em;
}
.estactual-header{
  display: inline-flex;
}
.estactual-header h5{
  width: 84%;
}
.estactual-header span {
    font-size: 0.9em;
    float: right;
}

.red-text{
  color: red;
}
.dropdown-menu .dropdown-item{ 
  cursor: pointer;
  color: #209e91;
}

.main-proceso{
    background: rgba(28, 43, 54, 0.73);
    color: #fff;
}
.main-proceso-error{
    background: rgba(239, 0, 0, 0.73);
    color: #fff;
}

.fecha-actuacion{
  position: absolute;
  right: 11px;
}

.btn-action{
  color: #fff !important;
}
.close-btn{
  font-size: 2em;
  margin: 8px;
  cursor: pointer;
}

.cargar-mas{
  padding: 10px;
}

.mytable > tbody > tr > td {
    line-height: 16px;
    padding: 4px;
    text-align: center;
}

.mytable > thead th {
    background: rgba(28, 43, 54, 0.66);
    color: #fff;
    font-weight: bold;
    border-right: 1px solid;
}



.mytable > tbody > tr > td {
    vertical-align: middle;
}

.mensaje-suscrito{
  .accion{
    cursor: pointer;
    text-decoration: underline;
  }
}
}



:host /deep/ .widgets {
  .basic-btns {
    padding-top: 8px;
    margin-bottom: -8px;
    h5 {
      line-height: 35px;
      font-size: 12px;
      &.row-sm {
        line-height: 30px;
      }
      &.row-xs {
        line-height: 22px;
      }
    }
    & > .row {
      padding-bottom: 4px;
    }
  }

  .btns-row {
    & > div {
      margin-bottom: 12px;
    }
  }

  .btns-same-width-sm {
    .btn {
      width: 48px;
    }
  }

  .btns-same-width-md {
    .btn {
      width: 79px;
    }
  }

  .btns-same-width-lg {
    .btn {
      width: 112px;
    }
  }

  ul.btn-list {
    margin: 0 0 0 -18px;
    padding: 0;
    padding-top: 6px;
    clear: both;
    li {
      margin: 0px 0 12px 18px;
      padding: 0;
      list-style: none;
      float: left;
    }
  }

  .btn-group-wrapper {
    margin-bottom: 12px;
  }

  $btn-icon-size: 34px;
  .btn-icon {
    width: $btn-icon-size;
    height: $btn-icon-size;
    line-height: $btn-icon-size;
    padding: 0;
    text-align: center;
  }

  .btn-group-example {
    float: left;
    margin-right: 30px;
    margin-bottom: 12px;
  }

  .btn-toolbar-example {
    float: left;
  }

  .progress-buttons-container {
    text-align: center;
    font-size: 16px;
    span.button-title {
      display: inline-block;
      width: 100%;
      line-height: 1;
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .row + .row {
      margin-top: 30px;
    }
  }

  .button-panel {
    height: 315px;
    .btn {
      width: 150px;
    }
  }

  .large-buttons-panel {
    height: 202px;
  }

  .button-panel.df-size-button-panel {
    .btn-xs {
      width: 60px;
    }
    .btn-sm {
      width: 90px;
    }
    .btn-mm {
      width: 120px;
    }
    .btn-md {
      width: 150px;
    }
    .btn-xm {
      width: 175px;
    }
    .btn-lg {
      width: 200px;
    }
  }

  .button-wrapper {
    text-align: center;
    margin: 5px 0;
  }

  .btn-group.flex-dropdown {
    display: flex;
  }
}
