.tablero {
    background: rgba(0, 108, 187, 0.6);
    margin: 10px;
    height: 90px;
    border-radius: 10px;
    padding: 12px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.tablero:hover{
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: underline;
    background: #0e65a2;
}