<div class="pagina-registro">
    <div class="reg1">
        <div class="top-content" style="position: relative; z-index: 0; background: none;">
            <div class="container">

                <div class="row">
                    <div class="col-12 offset-md-2 col-md-10 text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <h1>¡Su dirección de correo ha sido verificada con éxito!
                        </h1>
                        <div class="description">
                            <p class="medium-paragraph">
                                Ya se encuentra listo para ahorrar tiempo de trabajo valioso.
                                <br> Vigile le ayudará con sus procesos desde acá.
                            </p>
                        </div>
                        <div class="top-buttons">
                            <a class="btn btn-link-1" (click)="aLogin()">Iniciar sesión
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <a class="btn btn-link-2" routerLink="/login">Saber más
                                <i class="fa fa-lightbulb-o"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <!--
            <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 855px; width: 1349px; z-index: -999998; position: absolute;"><img src="assets/img/backgrounds.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1349px; height: 899.333px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -22.1667px;"></div>
        -->
        </div>
    </div>
</div>