<div class="pagina-registro">
  <div class="reg1">
    <div class="top-content" style="position: relative; z-index: 0; background: none;height: 100%;" *ngIf="!submitted">
      <div class="container">

        <div class="row">

          <div class="xs-12 col-md-7 r-form-1-box wow fadeInLeft animated" style="visibility : visible; animation-name: fadeInLeft;">
            <div class="r-form-1-top">
              <div class="r-form-1-top-left">
                <h3>Regístrese ahora</h3>
                <p>Comience su registro con el siguiente formulario</p>
              </div>
              <div class="r-form-1-top-right">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
            <div class="r-form-1-bottom">
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                  <div class="col-sm-12">
                    <input id="nombre" [formControl]="name" type="text" class="form-control" maxlength="100" placeholder="Nombre completo">
                    <span *ngIf="(!name.valid && name.touched)" class="help-block sub-little-text">
                      Ingrese un nombre válido.</span>
                  </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                  <div class="col-sm-12">
                    <input [formControl]="email" type="email" class="form-control" maxlength="100" placeholder="Correo electrónico">
                    <span *ngIf="(!email.valid && email.touched)" class="help-block sub-little-text">
                      Ingrese un email válido.</span>
                  </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                  <div class="col-sm-12">
                    <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
                    <div *ngIf="password.touched && (password.errors)" class="help-block sub-little-text">
                      <br> La clave debe tener mínimo
                      <ul>
                        <li>Seis caracteres</li>
                        <li>Una mayúscula</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                  <div class="col-sm-12">
                    <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repita la contraseña">
                    <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">
                      Las contraseñas no coinciden.</span>
                  </div>
                </div>
                <div class="form-group row text-center" *ngIf="errorMsg">
                  <div class="col-sm-12">
                    <div class="alert alert-danger">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="dismissMsg()">&times;</a>
                      <strong>¡Atención!</strong> {{errorMsg}}
                    </div>
                  </div>
                </div>
                <div class="form-group row captcha">
                  <div class="col-sm-12">
                    <re-captcha formControlName="recaptcha" (resolved)="resolved($event)"></re-captcha>
                  </div>
                </div>
                <div class="form-group row text-center">
                  <div class="col-sm-12">
                    <p class="terms">
                      <br> Al registrarse en Vigile usted acepta nuestros
                      <a href="#" class="launch-modal" data-modal-id="modal-terms">Términos y condiciones</a>.
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Enviar</button>
                  </div>
                  <div class="col-sm-12">
                    <button type="button" class="btn loginBtn" routerLink="/login">Ir a login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="col-md-5 text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <h1>Vigile se encarga</h1>
            <div class="description">
              <p class="medium-paragraph">
                Obtenga un plan en Vigile de acuerdo al volumen de procesos que maneja.
              </p>
            </div>
            <div class="top-buttons">
              <a class="btn btn-link-1" routerLink="/inicio/planes">Ver tarifas
                <i class="fa fa-angle-right"></i>
              </a>
              <a class="btn btn-link-2" href="#">Saber más
                <i class="fa fa-lightbulb-o"></i>
              </a>
            </div>
          </div>

        </div>

      </div>
      <!--
            <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 855px; width: 1349px; z-index: -999998; position: absolute;"><img src="assets/img/backgrounds.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1349px; height: 899.333px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -22.1667px;"></div>
        -->
    </div>
    <div class="top-content" style="position: relative; z-index: 0; background: none;" *ngIf="submitted">
      <div class="container">

        <div class="row">
          <div class="col-12 offset-md-2 col-md-10 text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <h1>¡Gracias por registrarse en Vigile!</h1>
            <div class="description">
              <p class="medium-paragraph">
                <strong> ¡Falta poco, {{nameReg}}!</strong> En unos instantes llegará a su correo información para completar el registro
                en la aplicación. Por ahora, ya puede cerrar esta ventana.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>