@import '../../theme/sass/auth';
@import '../../theme/sass/buttons';

.pagina-registro{
	align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.reg1{
	 background-image: url($assets-root + $images-root + 'blur-bg.jpg');
	  /* Full height */
	  height: 100%; 

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
.help-block {
    color: #dcf9f6;
    vertical-align: sub;
}

.loginBtn{
	background: rgba(76, 95, 89, 0.27) !important;
    margin-top: 12px !important;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #209e91; text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-size: 36px; font-weight: 700; color: #555; line-height: 44px; }
h3 { font-size: 22px; font-weight: 400; color: #555; line-height: 30px; }

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #e38f42; color: #fff; text-shadow: none; }
::selection { background: #e38f42; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }
.section-container-gray-bg { background: #f8f8f8; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #fff; }

.section-container-image-bg .divider-1 .line { border-color: #fff; opacity: 0.8; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }

.section-bottom-button { padding-top: 60px; }

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 0 20px;
	background: #209e91;
	border: 0;
	font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1 i { padding-left: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 0;
	font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-2 i { padding-left: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }


/***** Modal *****/

.modal-content {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	text-align: left;
}

.modal-body { padding: 0 25px 15px 25px; }
.modal-body img { margin-bottom: 15px; }

.modal-header { padding: 25px 25px 15px 25px; }
.modal-footer { padding: 15px 25px 25px 25px; }
.modal-header, .modal-footer { border: 0; }

.modal-header .close { font-size: 36px; color: #888; font-weight: 400; text-shadow: none; opacity: 1; }

.modal-footer button {
	height: 50px;
	margin: 0;
    padding: 0 20px;
	background: #e38f42;
	border: 0;
	font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; color: #fff; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
	outline: 0; opacity: 0.6; color: #fff; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before { background: none; }



/***** Top content *****/

.top-content { padding: 40px 0 30px 0; }

.top-content .text { padding-top: 120px; color: #fff; }
.top-content .text h1 { color: #fff; }

.top-content .description { margin: 20px 0 30px 0; }
.top-content .description p { opacity: 0.8; }


.r-form-1-top {
	overflow: hidden; padding: 0 25px 15px 25px; background: #444; background: rgba(0, 0, 0, 0.35); text-align: left;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}
.r-form-1-top-left { float: left; width: 75%; padding-top: 25px; }
.r-form-1-top-left h3 { margin-top: 0; color: #fff; }
.r-form-1-top-left p { opacity: 0.8; color: #fff; }
.r-form-1-top-right { float: left; width: 25%; padding-top: 5px; font-size: 66px; color: #fff; line-height: 100px; text-align: right; opacity: 0.3; }
.r-form-1-bottom {
	padding: 25px; background: #444; background: rgba(0, 0, 0, 0.3); text-align: left;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}
.r-form-1-bottom .terms { margin: 15px 0 0 0; opacity: 0.8; color: #dcf9f6; text-align: center; }
.r-form-1-bottom .terms a:hover,
.r-form-1-bottom .terms a:focus { outline: 0; border-bottom: 1px dotted #209e91; }

.r-form-1-box input[type="text"], 
.r-form-1-box input[type="password"],  
.r-form-1-box input[type="email"],  
.r-form-1-box textarea, 
.r-form-1-box textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.r-form-1-box textarea, 
.r-form-1-box textarea.form-control { height: 100px; padding-top: 10px; padding-bottom: 10px; line-height: 30px; }

.r-form-1-box input[type="text"]:focus, 
.r-form-1-box textarea:focus, 
.r-form-1-box textarea.form-control:focus {
	outline: 0; background: #fff; border: 3px solid #209e91;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.r-form-1-box input[type="text"]::-moz-placeholder, 
.r-form-1-box textarea::-moz-placeholder, 
.r-form-1-box textarea.form-control::-moz-placeholder { color: #888; }

.r-form-1-box input[type="text"]:-ms-input-placeholder, 
.r-form-1-box textarea:-ms-input-placeholder, 
.r-form-1-box textarea.form-control:-ms-input-placeholder { color: #888; }

.r-form-1-box input[type="text"]::-webkit-input-placeholder, 
.r-form-1-box textarea::-webkit-input-placeholder, 
.r-form-1-box textarea.form-control::-webkit-input-placeholder { color: #888; }

.r-form-1-box button.btn {
	width: 100%;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #209e91;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.r-form-1-box button.btn:hover { opacity: 0.6; color: #fff; }
.r-form-1-box button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.r-form-1-box button.btn:focus { outline: 0; opacity: 0.6; background: #1b867b; color: #fff; }
.r-form-1-box button.btn:active:focus, .r-form-1-box button.btn.active:focus { outline: 0; opacity: 0.6; background: #209e91; color: #fff; }


}