
@media (min-width: 992px) and (max-width: 1199px) {
	
	.top-content { padding: 80px 0 90px 0; }
	
	.more-features-box-text { margin-top: 30px; padding-left: 0; padding-right: 0; }
	.more-features-box-text:first-child { margin-top: 0; }
	
	.great-support-box-text { padding-left: 0; }
	.great-support-box-text:first-child { margin-top: 0; }
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.top-content { padding: 60px 0 70px 0; }

	.section-description p { padding: 0; }
	
	.more-features-box { float: none; width: auto; }
	.more-features-box:last-child { margin-top: 50px; }
	.more-features-box-text { margin-top: 30px; padding-left: 0; padding-right: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 0; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }
	
	.great-support-box { float: none; width: auto; }
	.great-support-box:last-child { margin-top: 50px; }
	.great-support-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.great-support-box-text:first-child { margin-top: 0; }
	
	.pricing-box-features li { padding-left: 10px; padding-right: 10px; }
	.pricing-box-sign-up { padding-top: 20px; padding-bottom: 20px; }
			
	.footer-contact-info i { padding-right: 5px; }
	.footer-social a { margin-right: 15px; }
	.footer-social i { font-size: 22px; }
	.footer-menu li { margin-left: 15px; }

}

@media (max-width: 767px) {
	
	.navbar.navbar-no-bg { background: #444; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-inverse .navbar-toggle { border-color: transparent; }
	.navbar-inverse ul.navbar-nav li a:hover, .navbar-inverse ul.navbar-nav li a:focus { padding-bottom: 10px; border: 0; }
	
	.section-description p { padding: 0; }
	
	.top-content { padding: 60px 0 70px 0; }
	.top-content .text { padding-top: 40px; }
    
    .video-box { text-align: center; }
    .video-box-right { padding-top: 60px; }
    
    .more-features-box:last-child { margin-top: 50px; }
    .more-features-box-text { margin-top: 30px; padding-left: 0; padding-right: 0; text-align: center; }
	.more-features-box-text:first-child { margin-top: 0; }
	.more-features-box-text-icon { float: none; display: inline-block; }
	.more-features-box-text h3 { float: none; width: auto; margin-top: 20px; }
	.more-features-box-text-description { float: none; width: auto; }
	
	.great-support-box:last-child { margin-top: 50px; }
	.great-support-box-text { margin-top: 30px; padding-left: 0; text-align: center; }
	.great-support-box-text:first-child { margin-top: 0; }
	
	.pricing-box { padding-bottom: 50px; }
    .pricing-box:last-child { padding-bottom: 0; }
    .pricing-box-features li { padding-left: 10px; padding-right: 10px; }
	.pricing-box-sign-up { padding-top: 20px; padding-bottom: 20px; }
	
	.faq-box.active { background: none; }
	.faq-box.active .faq-number { background: #fff; color: #e38f42; }
    
    footer { text-align: center; }
    .footer-contact-info, .footer-social { padding-top: 30px; }
    .footer-contact-info i { padding-right: 5px; }
    .footer-social a { margin: 0 10px; }
    .footer-copyright { margin-top: 40px; }
    .footer-menu { margin-top: 0; padding-top: 20px; border: 0; text-align: center; }
    .footer-menu li { margin: 0 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }
	
	.r-form-1-top-right { font-size: 40px; line-height: 90px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	
	
}
