<div class="row">
    <ba-card class="col-sm-12 col-md-5" title="Listado de Registros">
        <div class="feed-messages-container">
            <div class="feed-message" *ngFor="let task of taskList">

                <!-- <div class="message-icon" *ngIf="message.type != 'text-message'">
            <img class="photo-icon" src="{{ ( message.author | baProfilePicture ) }}">
            <span class="sub-photo-icon" [ngClass]="message.type"></span>
          </div> -->
                <div class="text-block text-message">
                    <div class="message-header">
                        <span class="author">{{ getTipoDesc(task.tipo) }}</span>
                        <button class="btn btn-xs" [ngClass]="{'btn-danger': !task.exito, 'btn-success': task.exito}">{{task.exito
                            ? 'OK' : 'Con error'}}</button>
                        <div class="actions">
                            <button class="btn btn-md btn-default" (click)="borrarRegistro(task)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="message-content line-clamp">
                        {{ task.comentarios }}
                    </div>
                    <div class="message-time">
                        <div class="post-time">
                            {{ task.inicio ? (task.inicio.iso | date:'medium') : 'N / A' }}
                        </div>
                        <div class="ago-time">
                            {{ task.fin ? (task.fin.iso | date:'medium') : 'N / A' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ba-card>
</div>