@import '../../../../theme/sass/conf/conf';

@media screen and (max-width: $resXS) {
	.btn-text{
		display: none;
		color: red;
	}

}
.list-pr-component{
    
 tbody > tr > td {
     vertical-align: middle;
}

td .star *{
	vertical-align: middle;
	cursor: pointer;
}

.star.active{
	color: #209e91 !important;
}
.click{
    cursor: pointer !important;
	border: 1px solid #f3f3f3 !important;
}
.table > tbody > tr > td {
    cursor: default;
}
.table > tbody > tr > td li{
    line-height: 16px;
}
.table > thead th {
    background: rgba(28, 43, 54, 0.66);
    color: #fff;
    font-weight: bold;
    border-right: 1px solid;
}
.demand{
	vertical-align: top !important;
}
.demand ul {
    padding-left: 10px;
}
}


.list-table-component{


/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\F005';
	color: #fff;
	font-size: 11px;
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	cursor: pointer;
}
.table-filter .media .title:hover {
	text-decoration: underline;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}

.table-filter .media .summary {
	font-size: 14px;
    line-height: 1em;
}

    
}