<div class="list-pr-component" *ngIf="!proceso">
    <ba-card title="Filtrar procesos" baCardClass="with-scroll">
        <div class="row" *ngIf="selFilter">
            <div class="col-12 col-md-6 form-line">
                <h4>Por campos</h4>
                <div class="input-group">
                    <div class="btn-group" ngbDropdown>
                        <button type="button" class="btn btn-default" ngbDropdownToggle>
                            {{selFilter}}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" *ngFor="let fItem of filterList" (click)="selectFilter(fItem)">
                                {{fItem.name}}
                            </li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" placeholder="Búsqueda..." [(ngModel)]="filtroString.value" *ngIf="filtroString.key">
                </div>

            </div>
            <div class="col-12 col-md-6">
                <h4>Por estados</h4>
                <div class="">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" value="a" (change)="filterProblema($event)" [(ngModel)]="filtroProblema.checked">
                        <span>Con problemas</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h4>Por juzgados</h4>
            </div>
            <div class="col-12 col-md-4">
                <br>
                <label for="exampleSelect1">Ciudad</label>
                <select class="form-control" id="exampleSelect1" [(ngModel)]="filtroCiudad.value" (ngModelChange)="cityChange($event)">
                    <option selected="selected" value=""></option>
                    <option *ngFor="let ciudad of ciudadesList" [ngValue]="ciudad.value">{{ciudad.nombre}}</option>
                </select>
            </div>
            <div class="col-12 col-md-8">
                <br>
                <label for="exampleSelect1">Entidad / Especialidad</label>
                <select class="form-control" id="exampleSelect1" [(ngModel)]="filtroEntidad.value" [disabled]="entidadesList.length == 0"
                    (ngModelChange)="entityChange($event)">
                    <option selected="selected" disabled>Ninguna</option>
                    <option *ngFor="let entidad of entidadesList" [ngValue]="entidad.value">{{entidad.nombre}}</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 form-line">
                <div class="btn-group-example">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary btn-with-icon" [disabled]="!filtros.length" (click)="filtrarDatos()">
                            <i class="fa fa-search"></i>
                            <span class="btn-text">Buscar</span>
                        </button>
                        <button type="button" class="btn btn-default btn-with-icon" (click)="actualizarBusqueda()">
                            <i class="fa fa-refresh"></i>
                            <span class="btn-text">Actualizar</span>
                        </button>
                        <button type="button" class="btn btn-default btn-with-icon" [disabled]="!consultaQuery" (click)="borrarBusqueda()">
                            <i class="fa fa-remove"></i>
                            <span class="btn-text">Borrar búsqueda</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ba-card>

    <div class="row">
        <div class="list-table-component col-12">
            <div class="table-responsive" *ngIf="procesos.length > 0">
                <table class="table table-filter" [mfData]="procesos | processFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: 8%">Detalle</th>
                            <th style="width: 40%">Datos</th>
                            <th style="width: 22%">Demandante(s)</th>
                            <th style="width: 22%">Demandados(s)</th>
                            <th style="width: 8%">Notificarme</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data" [ngClass]="{'mitest': item.reconsultar}">
                            <td class="click" (click)="mostrarDetalleProceso(item)">
                                <div>
                                    <i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true"></i>
                                </div>
                            </td>
                            <td>
                                <div class="media">

                                    <div class="media-body">
                                        <span class="media-meta pull-right"></span>
                                        <h4 class="title" [ngClass]="{'text-danger': item.hasProblem, 'text-success': item.isNew}" (click)="mostrarDetalleProceso(item)">
                                            {{item.codProceso}}
                                            <span class="pull-right" [ngClass]="{'text-danger': item.hasProblem, 'text-success': item.isNew, 'text-warning': item.reconsultar}">
                                                {{item.stMessage}}
                                            </span>
                                        </h4>
                                        <p class="summary">
                                            {{item.ciudad}}
                                            <br> {{item.entidad}}
                                            <br>
                                            <span *ngIf="item.estadoActual.fechaActuacion">
                                                <br>
                                                <strong>Fecha última actuación: </strong> {{item.estadoActual.fechaActuacion}} </span>
                                            <span *ngIf="item.problem.msg">
                                                <br>
                                                <strong>Mensaje error: </strong> {{item.problem.msg}} </span>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="demand">
                                <ul>
                                    <li *ngFor="let dem of item.info.demandantes">
                                        {{dem}}
                                    </li>
                                </ul>
                            </td>
                            <td class="demand">
                                <ul>
                                    <li *ngFor="let dem of item.info.demandados">
                                        {{dem}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <div class="star btn"  [ngClass]="{'active' : item.suscrito}">
                                    <i class="fa fa-2x" [ngClass]="{'fa-check' : item.suscrito, 'fa-envelope' : !item.suscrito}" (click)="accionSuscribir(item)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[15,50,75]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-center" *ngIf="moreResults">
                    <button class=" btn btn-outlined btn-primary" (click)="realizarBusqueda()">
                        CARGAR MÁS DATOS
                    </button>
                </div>
            </div>
            <div class="col-12">
                <div class="loader text-center" *ngIf="buscando" style="color: #1c2b36;">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="popular-app-img-container" *ngIf="procesos.length == 0 && !buscando">
                    <div class="text-center">
                        <div class="jumbotron">
                            <h1>
                                <span class="fa fa-battery-empty fa-4"></span> No se encontraron procesos.
                            </h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<detalleproceso *ngIf="proceso" [procesoId]="proceso" (close)="ocultarDetalleProceso($event)"> </detalleproceso>